@charset "utf-8";
/* CSS Document */
/**/
#video_wrapper, #video_conatiner, #flash_video /**/{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;	
	margin: 0;
	padding: 0;
	max-width: 100%;
	background-color: #fff;
}

#sidebar{
	border-right: 1px solid #ccc;
}

#main {
	width: 600px;
}

a.valid {
  background: #ccc;
}