@charset "utf-8";
/* CSS Document */
body { 
	font-family: "Courier New", Courier, mono;
	letter-spacing: 0px;
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	background-color: #A8B3A7;
}

.wrapper_body {
	
	background-image: linear-gradient(left, #acb6ab 450px, #d3acab 95%);
	background-image: -o-linear-gradient(left, #acb6ab 450px, #d3acab 95%);
	background-image: -moz-linear-gradient(left, #acb6ab 450px, #d3acab 95%);
	background-image: -webkit-linear-gradient(left, #acb6ab 450px, #d3acab 95%);
	background-image: -ms-linear-gradient(left, #acb6ab 450px, #d3acab 95%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.35, #acb6ab),
		color-stop(0.95, #d3acab)
	);
	
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb6ab', endColorstr='#d3acab',GradientType=1 );
}

.wrapper_aside {
	
	background-image: linear-gradient(left, #acb6ab 180px, #bdb1ab 100%);
	background-image: -o-linear-gradient(left, #acb6ab 180px, #bdb1ab 100%);
	background-image: -moz-linear-gradient(left, #acb6ab 180px, #bdb1ab 100%);
	background-image: -webkit-linear-gradient(left, #acb6ab 180px, #bdb1ab 100%);
	background-image: -ms-linear-gradient(left, #acb6ab 180px, #bdb1ab 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.5, #acb6ab),
		color-stop(1, #bdb1ab)
	);
	
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb6ab', endColorstr='#bdb1ab',GradientType=1 );
}

.wrapper_footer {
	
	background-image: linear-gradient(left, #acb9ab 0%, #d0acab 100%);
	background-image: -o-linear-gradient(left, #acb9ab 0%, #d0acab 100%);
	background-image: -moz-linear-gradient(left, #acb9ab 0%, #d0acab 100%);
	background-image: -webkit-linear-gradient(left, #acb9ab 0%, #d0acab 100%);
	background-image: -ms-linear-gradient(left, #acb9ab 0%, #d0acab 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #acb9ab),
		color-stop(1, #d0acab)
	);
	
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb9ab', endColorstr='#d0acab',GradientType=1 );
}

.wrapper_adr {
	
	background-image: linear-gradient(left, #a8b3a7 7%, #caa8a7 100%);
	background-image: -o-linear-gradient(left, #a8b3a7 7%, #caa8a7 100%);
	background-image: -moz-linear-gradient(left, #a8b3a7 7%, #caa8a7 100%);
	background-image: -webkit-linear-gradient(left, #a8b3a7 7%, #caa8a7 100%);
	background-image: -ms-linear-gradient(left, #a8b3a7 7%, #caa8a7 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.07, #a8b3a7),
		color-stop(1, #caa8a7)
	);
	
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8b3a7', endColorstr='#caa8a7',GradientType=1 );
}


aside {
	max-width:400px;
}

aside header {
	margin:50px 50px 20px 50px;
}
aside nav, aside section{
	margin:0 50px 20px 50px;
}

aside footer address {
	padding:11px 50px 20px;
}

#main {
	
}

#main article {
	position:absolute;
	display:none;
	padding:50px 50px 25px 50px;
}

#main article header {
	margin-bottom: 20px;
}

#fanta_banner {
	position:relative;
	margin-top:10px;
}

#main article p.fanta_video {
	position:relative;
	top:-310px;
}

#main article ul{
	margin:10px 12px;
}

#main article h3{
	text-decoration:underline;
	font-weight:normal;
	margin-top:5px;
}
#main article p{
	margin:10px 0;
}

.window {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;	
}

#video_wrapper {
	display:none;
}

#overlay {
	background-color:#000;
	opacity:.8; -moz-opacity:.8; filter:alpha(opacity=80);
}

#video_conatiner_inner {
	margin:0 auto;
}

video, #flash_video {
	margin-top: 2px;

	background-color:#CCC;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-opera-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#close_btn {
	margin-left: 3px;
	
	cursor:pointer;
	display:block;
	color:#ccc;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-shadow: 1px 1px 3px #bbb;
}

em {
	background-color:#FCF;
	border-radius: 3px;
	padding: 0 3px 0 2px;
	color: #FF03CD;
}

img {
	border: 1px solid #999999;
	padding: 0;
	margin: 0;
	display:block;
}

img.at {
	border: 0;
	padding: 0;
	margin: 0;
	display:inline;
}

.left {
	float: left;
}

.right {
	float: right;
}

a:link, a:visited, a:active {
	color: #FFF;
	text-decoration: underline;
	padding: 0;
}
a:hover {
	color: #FF00CC;
}

a.a16:link, a.a16:visited, a.a16:active,
a.a15:link, a.a15:visited, a.a15:active,
a.a14:link, a.a14:visited, a.a14:active,
a.a13:link, a.a13:visited, a.a13:active,
a.a12:link, a.a12:visited, a.a12:active,
a.a11:link, a.a11:visited, a.a11:active,
a.a10:link, a.a10:visited, a.a10:active,
a.a9:link, a.a9:visited, a.a9:active,
a.a8:link, a.a8:visited, a.a8:active,
a.a7:link, a.a7:visited, a.a7:active,
a.a6:link, a.a6:visited, a.a6:active,
a.a5:link, a.a5:visited, a.a5:active,
a.a4:link, a.a4:visited, a.a4:active,
a.a3:link, a.a3:visited, a.a3:active,
a.a2:link, a.a2:visited, a.a2:active,
a.a1:link, a.a1:visited, a.a1:active,
a.a0:link, a.a0:visited, a.a0:active {
	text-decoration: none;
	padding:4px;
	line-height:21px;
	border-radius: 1px;
}
	

	
	
	
a.a15:hover, a.a15.current {
	color: #FF66CC;
	background-color: #FFF5FD;
}
a.a14:hover, a.a14.current {
	color: #FF66CC;
	background-color: #FFE8FA;
}
a.a13:hover, a.a13.current {
	color: #FF66CC;
	background-color: #FFDDF8;
}
a.a12:hover, a.a12.current {
	color: #FF66CC;
	background-color: #FFCDF5;
}
a.a11:hover, a.a11.current {
	color: #FFFFFF;
	background-color: #FFBAF1;
}
a.a10:hover, a.a10.current {
	color: #FFFFFF;
	background-color: #FFABEE;
}
a.a9:hover, a.a9.current {
	color: #FFFFFF;
	background-color: #FF98EA;
}
a.a8:hover, a.a8.current {
	color: #FFFFFF;
	background-color: #FF80E6;
}
a.a7:hover, a.a7.current {
	color: #FFFFFF;
	background-color: #FF73E3;
}
a.a6:hover, a.a6.current {
	color: #FFFFFF;
	background-color: #FF5CDF;
}
a.a5:hover, a.a5.current {
	color: #FFFFFF;
	background-color: #FF4BDB;
}
a.a4:hover, a.a4.current {
	color: #FFFFFF;
	background-color: #FF39D8;
}
a.a3:hover, a.a3.current {
	color: #FFFFFF;
	background-color: #FF29D4;
}
a.a2:hover, a.a2.current {
	color: #FFFFFF;
	background-color: #FF1CD2;
}
a.a1:hover, a.a1.current {
	color: #FFFFFF;
	background-color: #FF0ECF;
}
a.a0:hover, a.a0.current {
	color: #FFFFFF;
	background-color: #FF03CD;
}
/*
a.a0:hover {
	color: #FFFFFF;
	background-color: #FF00CC;
}*/


